@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCROLLBAR CUSTOMIZATION */
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    background: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #bae6fd;
    border-radius: 0;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #38bdf8;
}

.modal-main-bg {
    background: rgba(0, 0, 0, 0.6);
}

/* Eliminar flechas en navegadores basados en WebKit (Chrome, Edge, Safari) */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Eliminar flechas en Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

/* Evitar cortar filas en la impresión de las tablas */
tbody tr {
    page-break-inside: avoid;
}

/*estilos agregados en la tabla de conteo de stock para ajustarla a la impresión de una hojaA4*/
.printable-table {
    width: 210mm; /* Ancho estándar de una página A4 */
    max-height: 297mm; /* Alto estándar de una página A4 */
    overflow: hidden; /* Evitar que desborde */
}
